/*
        HEADER 2 TEXT
*/

h2 {
    text-align: left;
    font-family: "Oswald", sans-serif;
    margin-left: 20px;
}

/*
        HEADER 
*/ 
header {
    display: inline-flex;
    background-color: orange;
}
/*
        HEADER: Hamburger Menu
*/
.navbar {
    align-items: center;
}

ul {
    display: none;
}


/*
        HEADER: Style slider button
*/
.theme-switch-container {
    display: flex;
    align-items: center;
    gap:265px;
}

.theme-slider {
    display:inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-slider input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
 
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
 
input:checked+.slider {
    background-color: #66bb6a;
}
 
input:checked+.slider:before {
    transform: translateX(26px);
}
 
.slider.round {
    border-radius: 34px;
}
 
.slider.round:before {
    border-radius: 50%;
}

/*
        SECTION CONTAINER
*/

.container {
    grid-template-columns: 1;
    grid-template-rows: 3;
    display: grid;
}

/*
        ABOUT ME section
*/
.about_me {
    background-color: red;
    grid-template-columns: 1;
    grid-template-rows: 3;
    display: grid;
}

.photo {
    grid-column: 1;
    grid-row: 2;
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    place-self: center;
}

#prof_am {
    padding: 0;
    margin: 0;
}

.p_am {
    grid-column: 1;
    grid-row: 3;
    background-color: pink;
    color: black;
    font-family:'Courier New', Courier, monospace;
}

#game_am {
    display: none;
    grid-column: 1;
    grid-row: 3;
}

/*
        SKILLS section
*/

.skills {
    background-color: blue;
    grid-template-columns: 1;
    grid-template-rows: 3;
    display: grid;
}

#prof_s {
    grid-template-columns: 3;
    grid-template-rows: 2;
    display: grid;
    background-color: lightblue;
    justify-items: space-evenly;
    padding-top: 20px;
}

.html {
    grid-column: 1;
    grid-row: 2;
    place-self: center;
    text-align: center;
}

.css {
    grid-column: 2;
    grid-row: 2;
    place-self: center;
    text-align: center;
}

.javascript {
    grid-column: 3;
    grid-row: 2;

    place-self: center;
    text-align: center;
}

.python {
    grid-column: 1;
    grid-row: 3;
    place-self: center;
    text-align: center;
}

#game_s {
    display: none;
    grid-row: 2;
}

.p_prof_s {
    color: black;
    font-family: 'Orbitron', sans-serif;
}
/*
        PROJECTS section
*/


.projects {
    background-color: green;
    grid-template-columns: 1;
    grid-template-rows: 2;
    display: grid;
}

#prof_p {
    grid-column: 1;
    grid-row: 2;
}

#game_p {
    display: none;
    grid-column: 1;
    grid-row: 2;
}

/*
        PROJECTS SLIDESHOW  
*/
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: lightgreen;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    display: inline-block;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*
            FOOTER SECTION
*/
footer {
    background-color: yellow;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/*
            TABLET SCREEN 
*/
@media only screen and (min-width: 768px){

    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        grid-row: 3;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    
}

/*
            DESKTOP SCREEN
*/
@media only screen and (min-width: 1024px) {

    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        grid-row: 3;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    
}