/*
            Header 
*/
header {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    background-color: lightblue;
}
/*
        Slider Bar
*/

.theme-switch-container {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    background-color: lightblue;
}

.theme-slider {
    display:inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-slider input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
 
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
 
input:checked+.slider {
    background-color: #66bb6a;
}
 
input:checked+.slider:before {
    transform: translateX(26px);
}
 
.slider.round {
    border-radius: 34px;
}
 
.slider.round:before {
    border-radius: 50%;
}

/*
        Slider Bar Text
*/
.slider_bar_text {
    grid-column: 2;
    grid-row: 1;
    align-content: left;
    background-color: lightblue;

}
/*
        Header Text
*/
.header_text {
    grid-column-end: span 2;
    grid-row: 2;
    background-color: lightblue;
    color: black;
}

/*-------------------------------------------------*/
/*
            Body
*/
/*
        Header2
*/
h2 {
    text-align: left;
    font-family: "Oswald", sans-serif;
    margin-left: 20px;
}
/*
        Buttons
*/


/*-------------------------------------------------*/
/*
            Main Container
*/ 
.container {
    background-color: gray;
}
/*-------------------------------------------------*/
/*
            About Me Section
*/
.about_me {
    background-color: darkcyan;
    display: grid;
}

.about_me_container {
    grid-template-columns: 1;
    grid-template-rows: 2;
}
/*
        Photo
*/
.photo {
    grid-column: 1;
    grid-row: 1;
    background-color:darkcyan;
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 80px;
    margin-top:10px;
}
/*
        About Me text
*/
.about_me_text {
    grid-column: 1;
    grid-row: 2;
    background-color: darkcyan;
    color: lightgrey;
}
/*------------------------------------------------*/
/*
            Skills Section
*/
.skills {
    background-color: lightskyblue;
    display: grid;
}

/*
        Skills List
*/
.skill_list {
    background-color: lightskyblue;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    justify-items: space-evenly;
    padding-top: 20px;
}

.html {
    grid-column: 1;
    grid-row: 2;
    place-self: center;
    text-align: center;
}

.css {
    grid-column: 2;
    grid-row: 2;
    place-self: center;
    text-align: center;
}

.javascript {
    grid-column: 3;
    grid-row: 2;
    place-self: center;
    text-align: center;
}

.python {
    grid-column: 1;
    grid-row: 3;
    place-self: center;
    text-align: center;
}

.skill_list_text {
    color: black;
    font-family: 'Orbitron', sans-serif;
}
/*------------------------------------------------*/
/*
            Projects Section
*/
.projects {
    background-color: rgb(140, 140, 243);
    display: grid;
}

/*
        PROJECTS SLIDESHOW  
*/
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: rgb(140, 140, 243);
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    display: inline-block;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*-------------------------------------------------------------*/
/*
            FOOTER SECTION
*/
footer {
    background-color: rgb(140, 140, 243);
    display: flex;
    justify-content: center;
    gap: 10px;
    color: lightgrey;
}
